<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1"></span>
    </nav>
    <p class="display-4">Add new person</p>
    <form>

      <div class="form-outline mb-4">
        <input type="hidden" id="person-id" value="{{people.id}}">
        <input type="text" class="form-control" id="fullname" value="{{people.fullname}}" />
        <label class="form-label" for="fullname">Fullname</label>
      </div>

      <div class="form-outline mb-4">
        <input type="email"  class="form-control" id="email" value="{{people.email}}" />
        <label class="form-label" for="email">Email</label>
      </div>

      <div class="form-outline mb-4">
        <input type="number" class="form-control" id="age" value="{{people.age}}"/>
        <label class="form-label" for="age">Age</label>
      </div>

      <div class="form-outline mb-4">
        <input class="form-control" rows="4" id="profession" value="{{people.profession}}"/>
        <label class="form-label" for="profession">Profession</label>
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4" onclick="submitForm()">Save</button>
    </form>
</div>
</body>
<script type="application/javascript">

    function submitForm() {
        let id = document.getElementById("person-id").value;
        var fullname = document.getElementById("fullname").value;
        var email = document.getElementById("email").value;
        var age = document.getElementById("age").value;
        var profession = document.getElementById("profession").value;
        var url = "http://localhost:8000/people/"+id;

        var data = {"id": id,"fullname": fullname, "email": email, "age": age, "profession": profession};

        fetch(url, {
          method: 'PUT',
          body: JSON.stringify(data),
          headers:{
            'Content-Type': 'application/json'
          }
        }).then(res => res.json())
        .then(response => alert('Success:', JSON.stringify(response)))
        .catch(error => alert('Error:', error));
    }
</script>
</html>